body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/*
    aqua blue: #206BA4 -> #00a0ff
    sky blue: #BBD9EE
    white: #EBF4FA 
    gray: #C0C0C0
    dirty white: #F1EFE2
    dirtier white: #E7E4D3 -> #f5be4d

*/

/* Set padding to keep content from hitting the edges */
/*
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
    */

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*
input,
select,
textarea {
    max-width: 280px;
}
*/

html > *{
    font-family: 'Encode Sans', sans-serif;
}

body {
    background-color:#f1f5f8 !important;
}

.text-active{
    color:#f5be4d !important;
}

.text-purple{
    color:#6427ff;
}

.account-links > li:first-of-type a{
    padding-right:0px !important;
    padding-left:0px;
    color: #f5be4d;
}

.account-links > li:last-of-type a{
    padding-left:10px;
    padding-right:30px;
}

.navbar-default {
    background-color: transparent !important;
    border-color: transparent !important;
}

.navbar-container{
    background-color:white;
    padding:0px 25px;
    border-radius:14px;
    box-shadow:rgba(100,100,100,0.1) 0px 3px 5px;
    margin-top:18px;
}

.navbar-nav > li > a{
    line-height:26px;
}

.topbar{
    background-color:white;
    border-radius:14px;
    box-shadow:rgba(100,100,100,0.1) 0px 3px 5px;
    margin-top:44px;
}

.topbar-content{
    line-height:55px;
    padding:0px 18px 0px 25px;
}

.topbar-right{
    float:right;
}

.topbar-content > *{
    display:inline-block;
}

.topbar-content > div > *{
    margin-right:10px;
}

.topbar-content > div > *:last-child{
    margin-right:0px !important;
}

.topBarCenterContent{
    margin-bottom:4px !important;
}

.body-container{
    background-color:white;
    padding:25px 25px;
    border-radius:14px;
    box-shadow:rgba(100,100,100,0.1) 0px 3px 5px;
    margin-top:22px;
}

.btn-round{
    border-radius:20px;
    font-size:0.9em;
    padding:7px 25px;
}

.btn-info{
    background-color: #00a0ff;
    border:none;
    transition:0.6s;
}

.btn-table-short{
    background-color:transparent;
    min-width:55px;
    transition:0.6s;
}

.btn-table-short:hover{
    color:white !important;
}

.btn-table-short.btn-info, .btn-table.btn-info{
    color: #00a0ff;
    border: 1px solid #00a0ff;
}

.btn-table-short.btn-danger,.btn-table.btn-danger{
    color: #fe3933;
    border: 1px solid #fe3933;
}

.btn-table-short.btn-success,.btn-table.btn-success{
    color: #23ce31;
    border: 1px solid #23ce31;
}

.btn-table-short.btn-warning,.btn-table.btn-warning{
    color: #f5be4d;
    border: 1px solid #f5be4d;
}

.form-control-line-only{
    box-shadow:none;
    border-radius:0px;
    border:none;
    border-bottom:1px solid rgba(0,0,0,0.2);
    padding:7px 0px 4px 2px !important;
    font-size:0.9em;
    line-height:10px !important;
    height:auto !important;
    transition:0.6s;
}

.form-control-line-only:active,.form-control-line-only:focus{
    box-shadow:none !important;
    border-bottom:2px solid #00a0ff;
}