body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.gallery-h2 {
    color: #00d0ff;
    font-weight:800;
    letter-spacing:1.5px;
}

.horizontal-scrolling-wrapper {
    padding-bottom:30px;
}

.book-card{
    width:235px !important;
}

.book-card .book-title{
    color: #00d0ff;
    word-break:break-word;
    font-size:1.1em;
    white-space:normal;
    height:45px;
    overflow-y:auto;
    font-weight:800;
}

.text-logo-blue {
    color: #00d0ff;
}

.text-warning {
    color: #f5be4d !important;
}

/*
    logo-blue: #00d0ff
    aqua blue: #206BA4 -> #00a0ff
    sky blue: #BBD9EE
    white: #EBF4FA 
    gray: #C0C0C0
    dirty white: #F1EFE2
    dirtier white: #E7E4D3 -> #f5be4d
    red: #fe3933
*/

/* Set padding to keep content from hitting the edges */
/*
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
    */

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*
input,
select,
textarea {
    max-width: 280px;
}
*/

.circle-10{
    height:10px;
    width:10px;
    border-radius:100%;
    margin-right:8px;
}

.circle-15 {
    height: 15px;
    width: 15px;
    border-radius: 100%;
    margin-right: 8px;
}

.circle-20 {
    height: 20px;
    width: 20px;
    border-radius: 100%;
    margin-right: 8px;
}

.circle-25 {
    height: 25px;
    width: 25px;
    border-radius: 100%;
    margin-right: 8px;
}

html > *{
    font-family: 'Encode Sans', sans-serif;
}

body {
    background-color:#f1f5f8 !important;
}

.text-active{
    color:#f5be4d !important;
}

.text-purple{
    color:#6427ff;
}

.table-side thead tr th:first-of-type, .table-side tbody tr td:first-of-type {
    padding-left: 20px;
}

.table.dataTable thead th, table.dataTable thead td{
    border-bottom: 1px groove rgba(50,50,100,0.1) !important;
    /*border-bottom:none !important;*/
}

.dataTables_wrapper .dataTables_paginate .paginate_button{
    padding:0em 0.4em !important;
}

/*table background*/
table.dataTable tbody th, table.dataTable tbody td{
    /*background-color:rgba(240,240,240,0.1);*/
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
    background:none !important;
    border:none !important;
    background-color: #00a0ff !important;
    color:white !important;
    padding:0px 8px 0px 8px !important;
}

.dataTables_info{
    color:rgba(0,0,0,0.4) !important;
}

.dataTables_wrapper .dataTables_paginate{
    padding-top:0.5em !important;
    float:left !important;
}

@media(max-width:767px){
    .dataTables_wrapper .dataTables_info{
        margin-top:5px !important;
    }
}

.window-heading{
    margin-bottom:20px;
}

.dataTables_wrapper .dataTables_info{
    float:right !important;
}

table.dataTable thead th, table.dataTable thead td{
    padding:10px 0px 10px 10px !important;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
    border-top: 1px solid rgba(200,200,200,0.2);
}

table.dataTable tbody th, table.dataTable tbody td{
    padding-top:15px !important;
    padding-bottom:15px !important;
    font-size:0.9em !important;
}

table.dataTable.no-footer{
    border-color:rgba(0,0,0,0) !important;
    margin-bottom:8px;
}

.account-links > li:first-of-type a{
    padding-right:0px !important;
    padding-left:0px;
    color: #f5be4d;
}

.account-links > li:last-of-type a{
    padding-left:10px;
    padding-right:30px;
}

.navbar-default {
    background-color: #f1f5f8!important;
    border-color: transparent !important;
}

.navbar-container{
    background-color:white;
    padding:0px 25px;
    border-radius:14px;
    box-shadow:rgba(100,100,100,0.1) 0px 3px 5px;
    margin-top:18px;
}

.navbar-nav > li > a{
    line-height:26px;
}

.topbar{
    background-color:white;
    border-radius:14px;
    box-shadow:rgba(100,100,100,0.1) 0px 3px 5px;
    margin-top:44px;
}

.topbar-content{
    line-height:55px;
    padding:0px 18px 0px 25px;
}

.topbar-content-form form{
    width:100% !important;
}

.topbar-content-form .topbar-content-form-left {
    display: inline-block !important;
    width: 60%;
    padding-right:10px;
}

.topbar-content-form .topbar-content-form-right  {
    width: 38%;
    display: inline-block !important;
}

.topbar-right {
    float: right;
}

.topbar-content > *{
    display:inline-block;
}

.topbar-content > div > *{
    margin-right:10px;
}

.topbar-content > div > *:last-child{
    margin-right:0px !important;
}

.topBarCenterContent{
    margin-bottom:4px !important;
}

.body-container{
    background-color:white;
    padding:25px 25px 15px 25px;
    border-radius:14px;
    box-shadow:rgba(100,100,100,0.1) 0px 3px 5px;
    margin-top:22px;
}

.padding-0{
    padding:0px !important
}

.btn-round{
    border-radius:20px;
    font-size:0.9em;
    padding:7px 25px;
}

.btn-info{
    background-color: #00a0ff;
    border:none;
    transition:0.6s;
}

.btn-table-short{
    background-color:transparent;
    min-width:55px;
    transition:0.6s;
}

.btn-table-short:hover{
    color:white !important;
}

.btn-table-short.btn-info, .btn-table.btn-info{
    color: #00a0ff;
    border: 1px solid #00a0ff;
}

.btn-table-short.btn-danger,.btn-table.btn-danger{
    color: #fe3933;
    border: 1px solid #fe3933;
}

.btn-table-short.btn-success,.btn-table.btn-success{
    color: #23ce31;
    border: 1px solid #23ce31;
}

.btn-table-short.btn-warning,.btn-table.btn-warning{
    color: #f5be4d;
    border: 1px solid #f5be4d;
}

.form-control-line-only{
    box-shadow:none;
    border-radius:0px;
    border:none;
    border-bottom:1px solid rgba(0,0,0,0.2);
    padding:7px 0px 4px 2px !important;
    font-size:0.9em;
    line-height:10px;
    height:auto !important;
    transition:0.6s;
}

input.form-control-line-only {
    line-height: 10px !important;
}

.form-control-line-only:active,.form-control-line-only:focus{
    box-shadow:none !important;
    border-bottom:2px solid #00a0ff;
}

.alert-round{
    margin-bottom: 0px;
    margin-top:46px;
}

.alert-round.alert-success{
    border-radius:14px;
    background-color:#23ce31;
    color:white;
}

.alert-round.alert-danger{
    border-radius:14px;
    background-color:#23ce31;
    color:white;
}

.subtitle{
    font-size:0.9em !important;
    font-weight:400 !important;
    color:#aaaaaa !important;
}

@media(max-width:700px) {
    .form-control.form-control-line-only {
        margin-bottom: 10px !important;
    }
}

.loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #00a0ff;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 0.8s linear infinite; /* Safari */
    animation: spin 0.8s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.paddingTopBottom10{
    padding-top:10px;
    padding-bottom:10px;
}

.paddingTopBottom20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.tag {
    border-radius: 15px;
    background-color: #C0C0C0;
    color:white;
    display:inline-block;
    line-height:20px;
}

.tag .tag-selected{

}

.text-color-red {
    color: #fe3933;
}

.text-color-green {
    color: #23ce31;
}

.book-info-container{
    padding-left:25px;
    padding-right:18px;
    overflow:hidden;
}

.wrap-long-words {
    /* Careful, this breaks the word wherever it is without a hyphen */
    overflow-wrap: break-word;
    word-wrap: break-word;
    /* Adds a hyphen where the word breaks */
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.form-control-text-area {
    resize: none;
    height: 80px !important;
    line-height:20px !important;
}

.row-container-offset-top {
    margin-top:40px;
}

.gallery-items-container{
    overflow-y: auto;
    max-height:780px;
}

.horizontal-scrolling-container {
    white-space: nowrap;
}

.horizontal-scrolling-wrapper {
    overflow-x: auto;
}